<div class="bg-white rounded-xl shadow-sm hover:shadow-lg transition-all duration-300 p-6">
    <div class="relative group">
        <app-dish-img-card [dish]="item" (delete)="deleteDish()" (edit)="edit.emit($event)"
            (toggleDaily)="toggleDaily.emit($event)"></app-dish-img-card>
    </div>

    <!-- Content -->
    <div class="space-y-3 mt-4">
        <div class="flex justify-between items-start">
            <h3 class="text-lg font-semibold text-gray-800 line-clamp-1">{{ item.name }}</h3>
            <span [ngClass]="statusBadgeClasses" class="text-xs px-2 py-1 rounded-full font-medium">
                {{ item.available ? 'Disponible' : 'Indisponible' }}
            </span>
        </div>

        <p class="text-sm text-gray-500 line-clamp-2">{{ item.description }}</p>

        <div *ngIf="item.category.type === 'FOOD'" class="flex justify-between text-sm text-gray-600">
            <span class="flex items-center gap-1">
                <span class="material-icons text-sm">local_fire_department</span>
                {{ 10 }} cal
            </span>
            <span class="flex items-center gap-1">
                <span class="material-icons text-sm">restaurant</span>
                {{ item.type?.startsWith('Non-')? 'Non-Veg': item.type }}
            </span>
            <span class="flex items-center gap-1">
                <span class="material-icons text-sm">group</span>
                {{ 1 }} pers.
            </span>
        </div>

        <div class="pt-3 flex justify-between items-center border-t border-gray-100">
            <span class="text-lg font-bold text-gray-900">{{ item.price | currency:'EUR' }}</span>
            <div class=" px-3 py-1 rounded-full text-sm text-white" [ngClass]="typeBadgeClasses">
                {{item.category.type === 'FOOD' ? 'Nourriture' : 'Boisson'}}
            </div>

        </div>
    </div>
</div>