<div class="p-6">
    <div class="overflow-x-auto">
        <table class="w-full whitespace-nowrap">
            <thead>
                <tr class="bg-gray-100 text-gray-600 font-medium text-sm uppercase tracking-wide">
                    <th class="px-4 py-3 text-left">N° Commande</th>
                    <th class="px-4 py-3 text-left">Date</th>
                    <th class="px-4 py-3 text-left">Produit</th>
                    <th class="px-4 py-3 text-left">Prix</th>
                    <th class="px-4 py-3 text-left">Statut</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">

            </tbody>
        </table>
    </div>
</div>